body {
background-image:url("https://i.pinimg.com/originals/ce/9f/7e/ce9f7eb5f6803e748217e279bb2f03e1.jpg");
}

#title {
position:fixed;
top:0px;
left:0px;
padding:10px;
margin:0px;
width:100%;
background-color:Lightyellow;
text-align:centeR;
z-index:10;
font-family: 'JustLettersMedium'; 
 font-weight: normal; 
 font-style: normal; 
 font-size:36px;
background-color: #FFDFB9;  
}


.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 2px solid #333;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #A4193D;
      font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align::Center;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #FFDFB9;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
#container {
 margin-top:0%;
 margin-left:30%;
 margin-right:30%;
 margin-bottom:-4%;
}
.row{
 position:relative;
 margin-left:0%;
 margin-right:0%;
}
img {
margin-left: 5px;
margin-top:10px;
}
#footer {
  text-align:centeR;
border:solid 1px;
padding: 10px;
margin:-10px;
background-color:Lightyellow;
  
}

}
